################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/AspNetMicroservices/v16
/src/Services/Catalog/Catalog.API/bin/Debug/net5.0
/src/Services/Catalog/Catalog.API/obj
*.v2
/src/obj/Docker
/src/bin/Debug
/src/obj/Debug
